---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: drawio
  namespace: {{ .Values.tmpnamespace }}
spec:
  replicas: {{ .Values.replicaCount }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: drawio
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: drawio
    spec:
      containers:
        - name: drawio
          image: "{{ .Values.image_repo }}:{{ .Values.version }}"
          ports:
            - containerPort: {{ .Values.port }}
              protocol: TCP
          resources:
            limits:
              cpu: "{{ .Values.resources.limits.cpu }}"
              memory: "{{ .Values.resources.limits.memory }}"
            requests:
              cpu: "{{ .Values.resources.requests.cpu }}"
              memory: "{{ .Values.resources.requests.memory }}"
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
...
